spring.application.name=

server.servlet.context-path=

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect

spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update
spring.jpa.defer-datasource-initialization=true

#Mail
spring.mail.host=smtp.gmail.com
spring.mail.port=587
#enter username as email on which app password created -> How to create App Password check EmailService comment in auth dir
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

#JWT
jwt.auth.app=
# to generate secret_key either do randomly or use "openssl rand -base64 32" in terminal
jwt.auth.secret_key=${JWT_KEY}
jwt.auth.expires_in=3600